#appMenu {
    position      : fixed !important;
    display       : flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
    z-index       : 9999999 !important;
    background    : rgb(255, 255, 255) !important;
    border-radius : 50px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 14px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 3px;
}

.appMenu__initial {
    bottom   : 20px !important;
    left     : 50% !important;
    transform: translateX(-50%) !important;
}

.appMenu__move {
    display: inline-block !important;
    height: 40px !important;
    width: 40px !important;
    position: relative !important;
    cursor: grab !important;
    display: inline-block !important;
    margin-left: 8px !important;
    margin-right: 2px !important;
}


.appMenu__divider {
    border-left: 1px solid #ececec; /* Change the color as needed */
    border-right: 1px solid #ececec; /* Change the color as needed */
    height: 30px;
    width: 0px;
    border-radius: 20px;
    margin: 0 8px;
}


.appMenu__move:active {
    cursor: grabbing !important;
}


.appMenu__button {
    display         : inline-block !important;
    background: rgba(186, 230, 255, 0.1) !important;
    box-shadow: rgba(186, 216, 255, 0.6) 0px 0px 0px 2px;
    border          : none !important;
    border-radius   : 50px !important;
    cursor          : pointer !important;
    height          : 40px !important;
    width           : 40px !important;
    padding         : 2px !important;
    margin          : 7px !important;
    transition      : background 0.3s ease-in-out, box-shadow 0.2s ease-in-out !important;
    position        : relative !important;
}


.appMenu__button.appMenuActiveBtn {
    background-color: rgba(186, 222, 255, 0.7) !important;
    box-shadow: rgba(51, 119, 255, 0.9) 0px 0px 0px 3px;
}

.appMenu__button:hover {
    background-color: rgba(186, 222, 255, 0.7) !important;
}


.appMenu__button:hover .appMenu__button__tooltip {
    bottom    : 60px !important;
    visibility: visible !important;
    opacity   : 1 !important;
}


.appMenu__button__tooltip {
    background   : rgb(255, 255, 255) !important;
    color        : #262626 !important;
    font-family  : Arial, Helvetica, sans-serif !important;
    font-size    : 14px !important;
    font-weight  : bold !important;
    position     : absolute !important;
    bottom       : 50px !important;
    left         : -25px !important;
    right        : -25px !important;
    padding      : 6px 5px !important;
    visibility   : hidden !important;
    opacity      : 0 !important;
    transition   : all .1s !important;
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 14px 2px;
}


.appMenu__button__img {
    width    : 30px !important;
    height   : 30px !important;
    position : absolute !important;
    top      : 50% !important;
    left     : 50% !important;
    transform: translate(-50%, -50%) !important;
}


#appMenu__closeButton {
    background-color: #61616184 !important;
    box-shadow: rgba(175, 175, 175, 0.6) 0px 0px 0px 2px;
}


#appMenu__closeButton:hover {
    background-color: #de2029 !important;
}


.dashed_outline {
    position: relative; 
    z-index: 9999999 !important;
}


.dashed_outline::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px; /* Adjust as needed */
    border: 2px dashed #2098de; /* Adjust color as needed */
}
