.menuButton {
    display         : inline-block !important;
    background-color: rgb(131, 131, 253) !important;
    border          : none !important;
    border-radius   : 3px !important;
    cursor          : pointer !important;
    height          : 40px !important;
    width           : 40px !important;
    padding         : 2px !important;
    margin          : 5px !important;
    transition      : background-color 0.3s ease-in-out;
    position        : relative !important;
}

.menuImage {
    width    : 30px !important;
    height   : 30px !important;
    position : absolute !important;
    top      : 50% !important;
    left     : 50% !important;
    transform: translate(-50%, -50%) !important;
}




#closeButton:hover {
    background-color: #de2029 !important;
}

.menuButton.active {
    background-color: #2098de !important;
}

.vertical-line {
    padding: 2px !important;
    margin : 5px !important;
    cursor : grab !important;
    display: inline-block !important;
    height : 35px;
      /* Adjust as needed */
    width           : 3px;
    border-radius   : 5px;
    background-color: #d8d8d8;
      /* Adjust color as needed */
}

#Menu {
    position      : fixed !important;
    display       : flex !important;
    flex-direction: row !important;
    z-index       : 9999 !important;
    background    : rgb(44, 44, 46) !important;
    border-radius : 6px !important;
}

.menuInitial {
    bottom   : 20px !important;
    left     : 50% !important;
    transform: translateX(-50%) !important;
}

.tooltip {
    background   : rgb(44, 44, 46);
    color        : white;
    font-size    : 14px;
    position     : absolute;
    bottom       : 50px;
    left         : -25px;
    right        : -25px;
    padding      : 3px 3px;
    visibility   : hidden;
    opacity      : 0;
    transition   : all .1s;
    border-radius: 4px;
}

.tooltip:before {
    content     : '';
    border-left : 5px solid transparent;
    border-right: 5px solid transparent;
    border-top  : 5px solid rgb(44, 44, 46);
    position    : absolute;
    bottom      : -4px;
    left        : 40px;
}

.menuButton:hover .tooltip {
    bottom    : 50px;
    visibility: visible;
    opacity   : 1;
}

