#clipboard {
    background-color: rgba(255, 255, 255, 0) !important;
    
    position        : fixed !important;
    display         : flex;
    z-index         : 9999 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 14px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 8px;
    overflow: hidden;
}

.clipboardInitial {
  bottom   : 400px !important;
  left     : 50% !important;
  transform: translateX(-50%) !important;
}


#clipboard_container {
    background-color: rgba(255, 255, 255, 0) !important;
    border-radius   : 6px !important;
    display         : flex !important;
    flex-direction  : column !important;
    min-height      : 400px;
    max-height      : 700px;
    box-sizing      : border-box;
}


#clipboard_top {
    position: relative; /* Add this line */
    height: 50px;
    cursor: grab;
}

#clipboard_close_icon {
    position: absolute; /* Add this line */
    right: 5px;
    top: 8px;
    background: rgb(255, 222, 222);
    border-radius: 100px;
}

#clipboard_move_icon {
  position: absolute; /* Add this line */
  right: 0px;
  left: 0px;
  margin: auto;
  top: 8px;
  width: 40px;
  height: 40px;

}


#clipboard_sub {
    background-color: #ffffff;
    height: 0px;
}

.clipboardFilter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}


.clipboard__filter{
  border-radius: 100px;
  color: #1686f0;
  font-family  : Arial, Helvetica, sans-serif !important;
  font-size    : 14px !important;
  font-weight  : bold !important;
  width: 60px;
  border: none;
  padding: 5px;
  margin: 5px;
}

.active {
  background-color: rgba(186, 222, 255, 0.7) !important;
  box-shadow: rgba(51, 119, 255, 0.9) 0px 0px 0px 3px;
}

.clipboard__filter:hover {
  background-color: rgba(186, 222, 255, 0.7) !important;
}


#clipboard_mid {
    flex-grow      : 1;
    max-height     : 600px;
    backdrop-filter: blur(3px) !important;
    background     : rgba(255, 255, 255, 0.7) !important;
    padding-left   : 5px;
    padding-right  : 5px;
    overflow-y     : auto;
}


#clipboard_item_header {
    font-family   : 'Roboto', sans-serif;
    color         : white;
    font-weight   : 400;
    padding-top   : 18px;
    padding-left  : 5px;
    padding-bottom: 18px;
}


#clipboard_items {
    
}

.clipboard_item {
    justify-content: center !important;
    align-items    : center !important;
    display        : flex !important;
    flex-direction : row !important;
    margin-bottom  : 4px !important;
    background     : rgba(169, 169, 169, 0.40) !important;
    border-radius  : 4px;
    height         : 40px;
    font-family    : 'Roboto', sans-serif;
    color          : white;
    font-weight    : 400;
    font-size      : 14px;

}


.clipboard_item_type {
    display      : flex;
    padding-left : 10px;
    padding-right: 10px;
}

.clipboard_item_content {
    display      : inline-block;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
    width: 100%;
    position: relative;
}

.clipboard_item_content.overflowing:hover {
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% { text-indent: 0 }
  100% { text-indent: -100% }
}


.clipboard_item_remove {
    display  : flex;
    padding  : 5px;
    transform: scale(0.8);
}


#clipboard_end {
    position        : sticky;
    bottom          : 0;
    background-color: #ffffff;
    height                    : 50px;
    display                   : flex;
    align-items               : center;
    justify-content: center;
    gap            : 10px;
    padding-left   : 10px;
    padding-right  : 10px;
}

#clipboard_copy_button {
    width           : 80%;
    height          : 35px;
    background-color: #29B526;
    font-family     : 'Roboto', sans-serif;
    font-size       : 16px;
    color           : white;
    border-radius   : 10px;
    border          : none;
      /* Removes default button border */
    cursor: pointer;
      /* Changes the cursor when hovering over the button */
}

#clipboard_clear_button {
    width           : 20%;
    height          : 35px;
    background-color: #ffffff00;
    font-family     : 'Roboto', sans-serif;
    font-size       : 16px;
    border-radius   : 10px;
    border          : none;
      /* Removes default button border */
    cursor: pointer;
      /* Changes the cursor when hovering over the button */
    padding-top: 3px;
}

.hidden {
    display: none !important;
}


