#InspectorWindow span,
#InspectorWindow p{
    margin-top: 0px;
    margin-bottom: 0px;
}


#InspectorWindow {
    max-width: 380px;
    min-width: 300px;
    border-radius: 3px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 9999;
}


.InspectorWindow_cssValue,
.InspectorWindow_property {
    font-family: monospace;

    color: rgb(0, 0, 0);
    font-size: 11pt;
}

.InspectorWindow_property {
    color: #2b83ca;

    font-weight: 600;
}


.InspectorWindow_cssValue {
    color: rgb(0, 0, 0);
}

